<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.itprojects">

    <application
        android:allowBackup="true"
        android:icon="@drawable/can1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/can1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity android:name="com.example.itprojects.activity.ArtifactslistActivity"></activity>
        <activity android:name="com.example.itprojects.activity.ForgetpwdActivity" />
        <activity android:name="com.example.itprojects.base.MainActivity" />
        <activity android:name="com.example.itprojects.activity.RegisterActivity" />
        <activity android:name="com.example.itprojects.activity.PostActivity" />
        <activity android:name="com.example.itprojects.fragment.HomeFragment" />
        <activity android:name="com.example.itprojects.fragment.FamilyFragment" />
        <activity android:name="com.example.itprojects.fragment.ProfileFragment" />
        <activity android:name="com.example.itprojects.fragment.ArtifactsFragment" />

        <activity android:name="com.example.itprojects.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.itprojects.activity.InfoPhotoActivity" />
        <activity android:name="com.example.itprojects.activity.FullImageActivity" />
        <activity android:name=".activity.HomeActivity" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

</manifest>